*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
release/

.gradle/
build/
*/build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/jarRepositories.xml
.idea/caches
.idea/modules.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml

*.jks
*.keystore

.externalNativeBuild
.cxx/

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

.DS_Store
Thumbs.db

obj/

*.swp
*~